body{
	background: #fff;
}

/* blog */

.blog{
	margin-top: 90px;
}
.blog__categories{
	margin-bottom: 40px;
}
.blog__list{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.blog-card{
	max-width: calc(100%/3 - 20px);
	margin-bottom: 90px;
	cursor: pointer;
	background: #fff;
	border-radius: 10px;
	transition: opacity 0.25s ease-out;
}
.blog-card:hover{
	opacity: 0.85;
}
.blog-card:nth-child(3n - 1){
	margin-right:20px;
	margin-left:20px;
}
.blog-card__i{
	margin-bottom: 20px;
}
.blog-card__i img{
	width: 100%;
	border-radius: 5px;
}
.blog-card__data{
	font-size: 10px;
	letter-spacing: 1px;
	margin-bottom: 10px;
	opacity: .5;
}
.blog-card__cat{
	text-transform: uppercase;
}
.blog-card__title{
	font-size: 20px;
	line-height: 1.35;
}
.blog-card__text{
	opacity: 0.9;
	margin-top: 8px;
	font-size: 14px;
}
.blog__btn{
	margin: 0 auto 110px;
	display: block;
	padding: 20px 60px;
	background: var(--accent);
	border-radius: 5px;
	border: none;
	font-weight: 600;
	color: #fff;
	transition: box-shadow 0.25s ease-out;
}
.blog__btn:hover{
	box-shadow: 0 1px 10px 1px rgba(0,0,0,.25)
}



@media (max-width: 992px){
	.blog__list{
		flex-direction: column;
		align-items: center;
		width: 600px;
		margin: 0 auto;
	}
	.blog-card:nth-child(3n - 1) {
		margin: 0 0 60px;
	}
	.blog-card{
		margin-bottom: 60px;
		max-width: 100%;
	}
}
@media (max-width: 768px){
	.blog__list{
		width: 400px;
	}

}
@media (max-width: 576px){
	.blog {
    margin-top: 60px;
	}
	.breadcrumbs {
    margin-top: 80px;
		margin-bottom: 5px;
	}
}
@media (max-width: 454px){
	.blog__list{
		width: 100%;
	}
}