:root{
	--accent: #0E65F3;
	--btn-bg: #DEE8F1;
	--bg: #F1F2F6;
	--fz: 16px;
	--font: 'Proxima nova', Arial, sans-Serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

.main{
	background: #fff;
	padding: 100px 0;
	.container{
		width: 760px;
	}
	&__title{
		font-size: 36px;
		line-height: 1.23;
	}
	&__i{
		width: 100%;
		margin: 30px 0;
		img{
			width: 100%;
			height: 100%;
		}
	}
	&__text{
		font-size: 20px;
		line-height: 1.55;
		font-weight: 300;
		color: #000;
		margin-bottom: 35px;
	}
	&__subtitle{
		margin: 0;
		font-size: 20px;
		font-weight: 700;
		line-height: 1.55;
		color: #000;
	}
	&__name{
		width: fit-content;
		display: flex;
		align-items: center;
		margin-bottom: 45px;
		font-size: 14px;
		line-height: 1.55;
		color: #000;
		font-weight: 300;
	}
	&__info{
		display: flex;
		align-items: center;
		font-size: 10px;
		color: rgba(0,0,0,.5);
		font-weight: 600;
		a{
			font-weight: 600;
			color: rgba(0,0,0,.5);
		}
	}
	&__date{
		letter-spacing: 1.5px;
		margin-right: 15px;
	}
	&__type{
		letter-spacing: 2.5px;
		text-transform: uppercase;
	}
	&__iw{
		width: 30px;
		height: 30px;
		margin-right: 10px;
		img{
			border-radius: 15px;
			width: 100%;
			height: 100%;
		}
	}
	&__heading{
		margin: 100px 0 45px;
		font-size: 22px;
		letter-spacing: inherit;
		font-weight: 600;
		color: #000;
	}
	&__see{
		width: 100%;
	}
	&-card{
		display: flex;
		align-items: flex-start;
		margin-bottom: 25px;
		&__i{
			max-width: 100px;
			min-width: 100px;
			height: calc(100px * 0.56);
			margin-right: 15px;
			margin-top: 5px;
			img{
				width: 100%;
				height: 100%;
			}
		}
		&__type{
			font-size: 9px;
			margin-top: 0;
			margin-bottom: 5px;
			margin-right: 10px;
			letter-spacing: 1px;
			text-transform: uppercase;
			color: rgba(0,0,0,.5);
			line-height: 1;
		}
		&__title{
			font-size: 16px;
			line-height: 1.35;
			margin-bottom: 3px;
			color: #000;
			font-weight: 600;
		}
		&__text{
			font-size: 14px;
			line-height: 1.55;
			color: #000;
			font-weight: 300;
		}
	}
}

@media (max-width: 1200px){
	.main{
		.container{
			width: 620px;
		}
		&__title{
			font-size: 32px;
		}
		&__text{
			font-size: 18px;
		}
		&__subtitle{
			font-size: 18px;
		}
		&__name{
			font-size: 12px;
			line-height: 1.55;
		}
		&__heading{
			font-size: 20px;
		}
		&-card{
			&__title{
				font-size: 14px;
			}
			&__text{
				font-size: 12px;
			}
		}
	}
}
@media (max-width: 992px){
	.main{
		.container{
			width: 620px;
			padding: 0 20px;
		}
	}
}
@media (max-width: 680px){
	.main{
		padding: 140px 0 80px;
		.container{
			width: auto;
			padding: 0 20px;
		}
		&__title{
			margin-bottom: 0;
			font-size: 28px;
		}
		&__text{
			font-size: 16px;
			line-height: 1.45;
			margin-bottom: 25px;
		}
		&__subtitle{
			font-size: 16px;
		}
		&__date, &__type{
			font-size: 10px;
		}
		&__heading{
			font-size: 18px;
			margin: 45px 0 35px;
		}
		&-card{
			&__title{
				font-size: 12px;
			}
		}
	}
}
@media (max-width: 530px){
	.main{
		padding: 120px 0 80px;
		&__i{
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.container{
			width: auto;
			padding: 0 20px;
		}
		&__title{
			margin-bottom: 0;
			font-size: 28px;
		}
		&__text{
			font-size: 16px;
			line-height: 1.45;
			margin-bottom: 25px;
		}
		&__subtitle{
			font-size: 16px;
		}
		&__date, &__type{
			font-size: 10px;
		}
		&__heading{
			font-size: 18px;
			margin: 45px 0 35px;
		}
		&-card{
			&__i{
				margin-top: 0;
				min-width: 60px;
				max-width: 60px;
				img{
					object-fit:cover;
				}
			}
			&__cont{
				font-size: 9px;
			}
			&__title{
				font-size: 12px;
			}
		}
	}
}

@media (max-width: 454px) {
	.main{
		&__author{
			margin-top: 35px;
		}
	}
}