:root{
	--accent: #0E65F3;
	--btn-bg: #DEE8F1;
	--bg: #F1F2F6;
	--fz: 16px;
	--font: 'Proxima nova', Arial, sans-Serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

body{
	font-size: var(--fz);
	background: #111215;
	color: #fff;
}

.error{
	min-height: 100vh;
	background: url('@img/404-bg.png') no-repeat center top / cover ;
	.container{
		width: 1280px;
		position: relative;
	}
	&__title{
		font-size: 64px;
		font-weight: 600;
		color: #f8f8f8;
		max-width: 580px;
	}
	a.error__logo{
		line-height: 33px;
		font-size: 30px;
		font-weight: 700;
		color: #fff;
		span{
			color: var(--accent);
		}
	}
	&__text{
		font-size: 32px;
		font-weight: 400;
		max-width: 430px;
		span{
			display: flex;
			align-items: center;
			&::after{
				content: '';
				width: 180px;
				height: 15px;
				background: url('@img/arrow-long.svg') no-repeat center left / cover;
				display: block;
			}
		}
	}
	&__i{
		display: block;
		margin: 0 auto;
		margin-top: -40px;
		max-width: 1160px;
		&_400{
			display: none;
		}
	}
	&__w{
		padding: 50px 0 80px; 
		display: flex;
		flex-direction: column;
	}
	&__bottom{
		margin-top: -360px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__cont{
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-top: -80px;
	}
	&__btn{
		&-w{
			width: 196px;
			height: 190px;
			border-radius: 100%;
			gap: 5px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: var(--accent);
			box-shadow: 0px 34px 115px rgba(14, 101, 243, 0.48);
			transition: box-shadow 0.25s ease-out;
			cursor: pointer;
			&:hover{
				box-shadow: 0px 34px 115px rgba(14, 101, 243, 0.68);
			}
			a{
				color: #fff;
			}
		}
		font-size: 18px;
		font-weight: 400;
		text-transform: uppercase; 
		max-width: 170px;
		display: block;
		text-align: center;
	}
}
@media (max-width: 1300.98px){
	.error{
		.container{
			width: 980px;
			padding: 0;
		}
		&__i{
			max-width: auto;
			width: 100%;
		}
	}
}
@media (max-width: 1300.98px){
	.error{
		&__bottom{
			margin-top: -160px;
		}
	}
}
@media (max-width: 959.98px){
	.error{
		.container{
			width: 620px;
		}
		&__title{
			font-size: 55px;
		}
		&__i{
			margin-top: 20px;
		}
		a.error__logo{
			line-height: 44px;
			font-size: 40px;
		}
		&__text{
			font-size: 24px;
			span{
				&::after{
					content: '';
					width: 140px;
					height: 11px;
				}
			}
		}
		&__bottom{
			margin-top: 0;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
		&__title{
			text-align: center;
		}
		&__cont{
			margin: 20px auto 0;
			align-items: center;
			width: 510px;
		}
	}
}
@media (max-width: 768.98px){
	.error{
		&__i{
			margin: 20px 0 0;
		}
		&__title{
			text-align: center;
			margin: 0 auto;
			font-size: 55px;
		}
		&__cont{
			margin: 20px auto 0;
			align-items: center;
			width: 510px;
		}
		&__text{
			font-size: 25px;
		}
		&__btn{
			&-w{
				width: 160px;
				height: 160px;
			}
			font-size: 16px;
		}
	}
}
@media (max-width: 639px){
	.error{
		a.error__logo{
			font-size: 35px;
			line-height: 39px;
		}
		.container{
			width: 460px;
		}
	}
}
@media (max-width: 576.98px){
	.error{
		&__i{
			margin: 40px 0 0;
		}
		&__title{
			font-size: 44px;
		}
		&__text{
			font-size: 18px;
			margin: 15px 0 30px;
			max-width: 380px;
			span{
				display: inline;
				&::after{
					display: none;
				}
			}
		}
		&__bottom{
			margin-top: 40px;
		}
		&__cont{
			margin: 20px auto 0;
			flex-direction: column;
			align-items: center;
			width: 100%;
		}
		&__logo{
			margin-left: 15px;
		}
		&__btn{
			&-w{
				width: 160px;
				height: 160px;
				box-shadow: 0px 34px 115px rgba(14, 101, 243, 0.28);
			}
			font-size: 16px;
		}
	}
}
@media (max-width: 479.98px){
	.error{
		.container{
			width: 324px;
		}
		&__title{
			font-size: 37px;
		}
		a.error__logo{
			font-size: 27px;
			line-height: 30px;
		}
		&__w{
			padding-top: 30px;
		}
		&__bottom{
			margin-top: 0px;
		}
		&__text{
			margin: 5px 0 40px;
			font-size: 16px;
		}
		&__btn{
			&-w{
				width: 140px;
				height: 140px;
			}
			font-size: 14px;
		}
	}
}
@media (max-width: 454.98px){
	.error{
		&__title{
			font-size: 37px;
		}
		&__btn{
			&-w{
				width: 140px;
				height: 140px;
			}
			font-size: 14px;
		}
	}
}
@media (max-width: 400.98px){
	.error{
		.container{
			width: 100%;
			padding: 0 25px;
		}
		&__text{
			margin-bottom: 25px;
		}
		&__i{
			display: none;
			&_400{
				display: block;
			}
		}
	}
}