@import 'reports';
@import 'start-search-personal';

:root{
	--accent: #0E65F3;
	--btn-bg: #DEE8F1;
	--hover: #656d7e;
	--bg: #F1F2F6;
	--fz: 16px;
	--employeeCardBtnBouncy: employeeCardBtnBouncy;
	--personSwing: personSwing;
	--box-sh: 0px 17px 76px rgba(0, 0, 0, 0.05);
	--font: 'Proxima nova', Arial, sans-Serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}


body{
	font-family: var(--font);
	background: var(--bg);
}

h1,h2,h3,h4{
	line-height: 1;
}

/* Offer */

.offer{
	background:#fafafa;
	position: relative;
}
.offer .container{
	padding: 150px 0;
	width: 1280px;
	background: url('@img/main-offer-bg.png') no-repeat 100% 59% / 576px 576px;
	display: flex;
	position: relative;
	overflow: visible;
}
.offer__w{
	max-width: 700px;
}
.offer__title{
	font-size: 72px;
	line-height: 1;
	margin-bottom: 50px;
}
.offer__title, .offer__subtext, 
.managment__title,.managment__descr, .rate__title,
.personal__title, .work-with__title
{	
	span{
		color: var(--accent);
	}
}
.offer__subtext{
	font-size: 24px;
	margin-bottom: 90px;
	font-weight: 600;
}
a.offer__btn{
	width: fit-content;
	font-weight: 600;
	text-transform: uppercase;
}
.offer__under{
	font-size: 15px;
	margin-top: 15px;
	opacity: 0.8;
}
.offer__i img {
	height: 538px;
	position: absolute;
	top: 18%;
	right: 6%;
	animation: 10s personSwing infinite;
}
@keyframes personSwing{
	0%{
		transform: rotate(0);
	}
	25%{
		transform: rotate(8deg);
	}
	50%{
		transform: rotate(0deg);
	}
	75%{
		transform: rotate(-9deg);
	}
	100%{
		transform: rotate(0);
	}
}
.offer__mobile{
	display: none;
}

/* Ident tasks */

.ident-tasks{
	position: relative;
	color: #fff;
	background: url('@img/identic-tasks-bg.png') no-repeat center center / cover;
	&__w{
		width: 100%;
		position: relative;
	}
	&__cont{
		margin-left: auto;
		padding: 100px 0 60px;
		width: 870px;
	}
}
.ident-tasks__title{
	max-width: 600px;
	font-size: 60px;
	font-weight: 600;
	margin-left: auto;
	line-height: 1;
	margin-bottom: 70px;
}
.ident-tasks__list{
	display: flex;
	flex-wrap: wrap;
	max-width: 870px;
	margin-left: auto;
	justify-content: space-between;
}
.ident-tasks__item{
	display: block;	
	max-width: 280px;
	font-size: 23px;
	margin-bottom: 20px;
}
.ident-tasks__item strong{
	font-weight: 700;
}
.ident-tasks__num{
	font-size: 36px;
}
.ident-tasks__i{
	img{
		filter: drop-shadow(-210px 6px 78px rgba(0, 0, 0, 0.05));
	}
	position: absolute;
	bottom: 0;
	left: -455px;
}

/* managment */

.managment{
	padding: 120px 0 70px;
}
.managment__title{
	font-size: 72px;
	margin-bottom: 80px;
}
.managment__row{
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
	align-items: center;
}
.managment__cont{
	padding-right: 50px;
	height: fit-content;
}
.managment__row:nth-child(2n+1) .managment__cont{
	padding-left: 50px;
	padding-right: 0;
}
.managment__row:first-of-type .managment__descr{
	max-width: 400px;
}
.managment__descr{
	font-size: 40px;
	max-width: 460px;
	line-height: 1.1;
	margin-bottom: 30px;
}
.managment__item{
	font-size: 18px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}
.managment__item::before{
	content: '';
	width: 30px;
	height: 30px;
	margin-right: 10px;
	background: url('@img/ok.svg') no-repeat center center / 13px 11px, #fff;
	border-radius: 30px;
	display: block;
}
.managment__t{
	max-width: 425px;
}
.managment__btn{
	margin-top: 15px;
	border: none;
}
.managment__btn:hover{
	transform: scale(0.94);
	animation: 0.4s employeeCardBtnBouncy;
}
.managment__w{
	border-radius: 10px;
	overflow: hidden;
	width: 645px;
	height: fit-content;
}
.managment__w img {
	width: 645px;
	object-fit: contain;
	box-shadow: var(--box-sh);
}

// sites

.sites{
	background: url('@img/sites-bg.png') no-repeat center center / cover;
	overflow: hidden;
	height: 880px;
	&-mobile{
		display: none;
	}
	.container{
		display: flex;
		justify-content: space-between;
		height: 880px;
	}
	&__row{
		width: 560px;
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
	}
	&__carousel{
		overflow: hidden;
		width: fit-content;
	}
	&__item{
		width: 170px;
		height: 170px;
		padding: 10px 20px;
		background: #fff;
		text-align: center;
		border-radius: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;
		img{
			display: block;
			max-width: 146px;
		}
		p{
			position: absolute;
			bottom: 20px;
		}
	}
	&__title{
		font-size: 52px;
	}
	&__btn{
		padding: 30px 50px;
		border-radius: 5px;
		display: block;
		background: transparent;
		border: 2px solid #fff;
		font-size: 20px;
	}
	a.sites__btn{
		color: #fff;
	}
}
.sites__content{
	margin: auto 0;
	padding-top: 20px;
	padding-left: 90px;
	color: #fff;
	.sites__list{
		margin: 60px 0 50px;
	}
	.sites__el{
		margin-top: 30px;
		display: flex;
		line-height: 1.3;
		.sites__w{
			max-width: 380px;
		}
		&::before{
			content: '';
			width: 30px;
			height: 30px;
			display: block;
			margin-right: 15px;
		}
		&:nth-child(1)::before{
			background: url('@img/pencil.svg') no-repeat;
		}
		&:nth-child(2)::before{
			background: url('@img/speed.svg') no-repeat;
		}
		&:nth-child(3)::before{
			background: url('@img/world.svg') no-repeat;
		}
	}
	&__plus{
		font-size: 24px;
		font-weight: 600;
		margin-bottom: 10px;
	}
}

// rate

.rate{
	padding-top: 140px;
	&__title{
		font-size: 70px;
		text-align: center;
		margin: 0 auto;
	}
	&__w{
		margin: 70px auto 0;
		border-radius: 10px;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		border: 1px solid var(--accent);
		overflow: hidden;
		box-sizing: content-box;
		height: 60px;
		width: 440px;
	}
	&__btn{
		transition: background 0.15s ease-out;
		margin: 0;
		display: block;
		font-weight: 400;
		height: 60px;
		padding: 15px 20px;
		width: 220px;
		background: #fff;
		color: var(--hover);
		text-align: center;
		border: none;
		font-size: 18px;
		&.active{
			background: var(--accent);
			color: #fff;
			font-weight: 600;
		}
		&_m{
			transition: background 0.15s ease-out;
			margin: 0;
			display: block;
			font-weight: 600;
			height: 100%;
			padding: 15px 20px;
			width: 200px;
			color: #fff;
			background: var(--accent);
			text-align: center;
			border: none;
			font-size: var(--hover);
			display: none;
			&:focus-visible{
				outline: none;
			}
		}
		&:focus-visible{
			outline: none;
		}
	}
	&__col{
		width: 25%;
	}
	&__type{
		font-size: 18px;
		font-weight: 600;
		line-height: 1;
		margin: 0;
		display: block;
		margin-bottom: 4px;
	}
	&__about{
		font-size: 14px;
		color: var(--hover);
		display: block;
		line-height: 1;
		&_large{
			font-size: 12px;
		}
	}
	&__flex{
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__i{
		width: fit-content;
		position: relative;
	}
	&__stat{
		margin-top: 30px;
		width: 200px;
	}
	&__place{
		width: 100%;
		margin-top: 50px;
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: space-between;
	}
	
	&__item{
		height: 78px;
		padding: 8px 0 12px;
		width: 220px;
		margin: 0 auto;
		&:not(:last-of-type){
			&.rate__item_info{
				&::after{
					content: '';
					margin-top: 10px;
					position: absolute;
					z-index: 2;
					display: block;
					background: var(--btn-bg);
					width: 100%;
					height: 2px;
				}
			}
		}
		.rate__site{
			height: 100%;
			max-width: 120px;
			display: block;
			object-fit: contain;
		}
	}
	&__tariff{
		width: 280px;
		text-align: center;
		padding: 30px 0;
		position: relative;
		border-radius: 15px;
		z-index: 4;
		transition: background 0.2s ease-out, box-shadow 0.2s ease-out;
		&:hover{
			box-shadow: var(--box-sh);
			background: #fff;
		}
	}
	a.rate__buy{
		color: var(--accent);
		&:hover{
			color: #fff;
		}
	}
	a.rate__link{
		font-size: 14px;
		text-decoration: underline;
		color: var(--accent);
	}
	&__price{
		color: var(--accent);
		font-weight: 700;
		font-size: 36px;
		&.rate__once{
			display: block;
			margin: 0 auto;
		}
	}
	&__decision{
		height: 16px;
		display: block;
		margin: auto;
		font-size: 14px;
		line-height: 1.3;
	}
	&__once{
		display: flex;
	}
	.none{
		display: none;
	}
	&__buy{
		&-w{
			margin-top: 20px;
			height: auto;
		}
		color: var(--accent);
		background: var(--btn-bg);
		border-radius: 5px;
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		padding: 15px 3px;
		margin: 20px auto 0;
		height: 50px;
		display: block;
		width: 100%;
		transition: background 0.25s ease-out, color 0.25s ease-out;
		&:hover{
			background: #026fc2;
			color: #fff;
		}
	}
	&__select{
		padding: 5px 15px;
		border: 1px solid #979797;
		background: #fff;
		width: 100%;
		margin: 0 auto;
		color: #101011;
		border-radius: 5px;
		font-size: 16px;
		&:focus-visible{
			outline: none;
		}
	}
	&-m{
		display: none;
		width: 500px;
		margin: 0 auto;
		margin-top: 50px;
		&__card{
			background: #fff;
			border-radius: 10px;
			padding: 30px 20px;
			margin-top: 65px;	
		}
		&__name{
			font-size: 30px;
			color: var(--accent);
		}
		&__price{
			color: #000;
			font-weight: 700;
			font-size: 46px;
			line-height: 1;
			display: block;
		}
		&__undertext{
			font-size: 16px;
			color: var(--hover);
			margin-bottom: 30px;
			display: block;
		}
		&__topic{
			font-size: 20px;
			color: var(--hover);
			font-weight: 600;
			display: flex;
			align-items: center;
			&::before{
				content: '';
				margin-right: 10px;
				width: 20px;
				height: 20px;
				background: url('@img/ok.svg') no-repeat center center / contain;
			}
			&.no{
				&::before{
					background: url('@img/not-ok.svg') no-repeat center center / contain;
				}
			}
		}
		&__inf{
			width: 20px;
			height: 20px;
			display: block;
			margin-left: 10px;
			background: url('@img/sign-cond.svg') no-repeat center center / contain;
		}
		&__text{
			font-size: 16px;
			color: var(--hover);
			margin: 5px 0 20px;
		}
		.rate__item{
			margin-top: 30px;
			width: 100%;
		}
		.rate__buy{
			font-size: 13px;
			height: auto;
			padding: 30px;
		}
	}
	.tooltip {
		position: absolute;
		top: -5px;
		right: -15px;
		display: block;
		width: 12px;
		height: 12px;
		background: url('../img/questiob.svg') no-repeat center center / cover;
	}
	.tooltip .tooltiptext {
		visibility: hidden;
		width: 120px;
		background-color: black;
		color: #fff;
		text-align: left;
		padding: 20px;
		position: absolute;
		z-index: 100000;
		width: 300px;
    bottom: 20px;
    left: 50%;
		font-size: 16px;
    margin-left: -150px; 
		transition: visibility 0.3s ease-out;
		strong{
			margin-bottom: 10px;
			font-weight: 600;
			display: block;
			font-size: 20px;
		}
	}
	.tooltip:hover .tooltiptext {
		visibility: visible;
	}
	.tooltip .tooltiptext::after {
		content: " ";
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: black transparent transparent transparent;
	}
	&__i{
		&_text{
			.tooltip {
				top: 2px;
				right: -20px;
				width: 14px;
				height: 14px;
			}
		}
	}
}

// collect

.collect{
	margin: 120px 0 100px;
	&__w{
		box-shadow: var(--box-sh);
		display: flex;
		background: #fff;
		align-items: center;
		padding: 54px 134px;
		border-radius: 15px;
	}
	&__cont{
		padding-left: 50px;
	}
	&__title{
		font-size: 48px;
		line-height: 1;
		margin-bottom: 20px;
	}
	&__text{
		font-size: 24px;
		color: var(--accent);
		margin: 0 0 20px;
	}
	&__btn{
		border: none;
		padding: 20px 50px;
	}
}

// download 

.download{
	background: url('@img/download-bg.png') no-repeat center center / cover;
	margin-bottom: 120px;
	overflow: hidden;
	color: #f8f8f8;
	.container{
		display: flex;
		justify-content: space-between;
	}
	&__title{
		font-size: 72px;
	}
	&__text{
		font-size: 24px;
		margin: 40px 0 45px;
		max-width: 405px;
		font-weight: 600;
	}
	a.download__btn{
		width: 100%;
		text-align: center;
		padding: 28px;
		display: block;
		border-radius: 10px;
		margin-bottom: 10px;
		text-transform: uppercase;
		font-weight: 700;
		border: 2px solid #fff;
		background: transparent;
		&:hover{
			color: #fff;
		}
	}
	&__weight{
		text-align: center;
		font-size: 16px;
	}
}
.download__w{
	width: 500px;
	color: #fff;
	margin: auto 0;
}

// personal

.personal{
	text-align: center;
	margin-bottom: 160px;
	&__title{
		font-size: 72px;
	}
	&__text{
		font-size: 24px;
		margin: 21px 0 70px;
		font-weight: 600; 
		span{
			color: var(--accent);
		}
	}
	&__w{
		display: flex;
		justify-content: space-between;
	}
}
.personal-card{
	width: 360px;
	padding: 25px;
	text-align: left;
	background: #fff;
	border-radius: 15px;
	min-height: 450px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	filter: drop-shadow(0px 17px 76px rgba(0, 0, 0, 0.05));
	&__title{
		font-size: 26px;
		margin: 26px 0 13px;
	}
	&__text{
		font-size: 15px;
		color: var(--hover);
		margin-bottom: auto;
	}
	a.personal-card__btn{
		margin: auto 0 0;
		font-size: 22px;
		font-weight: 600;
	}
}

a.more-link{
	color: var(--accent);
	display: flex;
	align-items: center;
	&::after{
		content: '';
		margin-left: 15px;
		width: 20px;
		height: 20px;
		background: url('@img/arrow-next.svg') no-repeat center;
	}
}


.call-tracking{
	margin-bottom: 120px;
	&__w{
		border-radius: 15px;
		background: #fff;
		display: flex;
		justify-content: space-between;
		padding: 34px 82px;
		box-shadow: 0px 17px 76px rgba(0, 0, 0, 0.05);
	}
	&__cont{
		max-width: 770px;
	}
	&__only{
		font-size: 24px;
		color: var(--accent);
		font-weight: 600;
		margin-bottom: 10px;
	}
	&__title{
		font-size: 48px;
		line-height: 1;
		margin-bottom: 15px;
	}
	&__text{
		font-size: 20px;
	}
}

// work-with

.work-with{
	text-align: center;
	background: #fff;
	padding: 100px 0;
	margin-bottom: 120px;
	&__title{
		font-size: 72px;
		line-height: 1;
	}
	&__text{
		font-size: 24px;
		color: var(--hover);
		max-width: 760px;
		margin: 20px auto 60px; 	
	}
	&__cont{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__i{
		width: 250px;
		height: 120px;
		border-radius: 10px;
		border: 1px solid rgba(0,0,0,.2);
		overflow: hidden;
		margin-bottom: 25px;
		img{
			width: 100%;
			height: 100%;
			filter: grayscale(1);
			transition: filter 0.5s ease-out;
			&:hover{
				filter: grayscale(0);
			}
		}
	}
	.invert img{
		filter: invert(1);
	}
	.invert:hover img{
		filter: invert(0);
	}
}

// cases

.cases{
	margin-bottom: 120px;
	&__w{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__cont{
		width: 430px;
		padding: 20px 0;
	}
	&__title{
		font-size: 54px;
		margin-bottom: 30px;
	}
	&__text{
		font-size: 24px;
		color: var(--hover);
	}
	&__list{
		display: flex;
		width: 720px;
	}
	&__btn{
		font-size: 24px;
		font-weight: 600;
		margin-top: 55px;
	}
}
.cases-card{
	background: #fff;
	border-radius: 15px;
	width: 370px;
	min-height: 400px;
	padding: 35px 20px 30px;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0px 17px 76px 0px rgb(0, 0, 0, 0.1);
	&__i{
		margin-left: 10px;
		img{
			height: 90px;
		}
	}
	&__title{
		margin-top: 25px;
		margin-bottom: 15px;
		font-size: 30px;
	}
	&__text{
		font-size: 18px;
		color: var(--hover);
		max-width: 300px;
	}
	&__discover{
		display: flex;
		justify-content: space-between;
	}
	&__pay{
		color: var(--accent);
		font-size: 24px;
		font-weight: 600;
	}
	&__price{
		font-size: 18px;
		color: var(--hover);
	}
	&__next{
		img{
			width: 35px;
			height: 35px;
		}
	}
}

// garanties

.garanties{
	margin-bottom: 260px;
	&__w{
		padding: 45px 130px;
		border-radius: 15px;
		box-shadow: var(--box-sh);
		background: #fff;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__cont{
		margin-left: 60px;
	}
	&__title{
		font-size: 48px;
	}
	&__text{
		font-weight: 600;
		font-size: 20px;
		margin: 18px 0;
		color: var(--accent);
	}
	&__item{
		display: flex;
		&:not(:last-of-type){
			margin-bottom: 20px;
		}
		&::before{
			content: '';
			width: 14px;
			margin-right: 10px;
			height: 12px;
			background: url('@img/ok.svg') no-repeat center center / cover;
		}
		span{
			display: block;
			color: var(--hover);
		}
	}
	&__titw{
		.garanties__i{
			display: none;
		}
	}
}

.report{
	margin-bottom: 210px;
}


@media(max-width: 1300.98px){
	.offer{
		.container{
			width: auto;
			padding: 150px 30px;
		}
	}
	.ident-tasks{
		&__title{
			font-size: 50px;
			max-width: 520px;
			margin-bottom: 130px;
		}
		&__cont{
			margin-left: auto;
			padding: 60px 0 40px;
			width: 816px;
		}
		&__item{
			font-size: 22px;
			max-width: 270px;
		}
		&__i{
			img{
				height: 800px;
			}
			left: -315px;
		}
	}
	.collect{
		&__w{
			padding: 40px;
		}
		&__title{
			font-size: 42px;
		}
	}
}

@media (max-width: 1200.98px){
	.offer{
		.container{
			background: url('@img/main-offer-bg.png') no-repeat 100% 59% / 45%;
			padding: 120px 30px;
			overflow: hidden;
		}
		&__i{
			img{
				height: 510px;
				right: 4%;
				top: 16%;
			}
		}
	}
	.ident-tasks{
		.container{
			width: 1040px;
		}
	}
	.sites{
		&__title{
			width: 500px;
		}
		&__content{
			margin: auto 0;
			padding-top: 20px;
			padding-left: 20px;
			color: #fff;
		}
		&__row{
			width: 480px;
			display: flex;
			justify-content: space-between;
			margin-bottom: 10px;
		}
		&__item{
			width: 150px;
			height: 150px;
			font-size: 14px;
		}
	}
	.collect{
		&__text{
			margin: 0 0 10px;
		}
	}
	.personal-card{
		width: 300px;
	}
	.call-tracking{
		&__w{
			padding: 34px 40px;
		}
		&__cont{
			max-width: 650px;
		}
	}
	.work-with__cont{
		justify-content: space-around;
	}
	.cases{
		&__w{
			flex-direction: column;
		}
		&__cont{
			width: 650px;
		}
		&__title{
			text-align: center;
		}
		&__line{
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}
		&__text{
			max-width: 490px;
			font-size: 22px;
		}
		&__btn{
			height: fit-content;
			margin: 0;
		}
	}
}
@media(max-width: 1100.98px){
	.offer__title, .managment__title, .download__title,
	.personal__title, .work-with__title, .rate__title{
		font-size: 55px;
		text-align: center;
	}
	.offer{
		&__title{
			max-width: 500px;
			text-align: left;
		}
		&__i{
			img{
				height: 480px;
				right: 2%;
			}
		}
	}
	.sites{
		&__title{
			width: 450px;
		}
	}
}
@media(max-width: 1000.98px){
	.ident-tasks{
		.container{
			width: auto;
			width: 960px;
		}
		&__i{
			img{
				height: 750px;
			}
			left: -315px;
		}
	}
	.download{
		&__w{
			width: 400px;
		}
		&__title{
			font-size: 60px;
		}
		&__i {
			img{
				height: 700px;
			}
		}
		&__text{
			margin: 20px 0 80px;
		}
	}
}
@media(max-width: 992.98px){
	.offer__title, .managment__title, .download__title,
	.personal__title, .work-with__title, .report__title{
		text-align: center;
	}
	.personal-card__title
	{
		font-size: 24px;
	}
	.offer{
		background: #fafafa;
		padding-bottom: 60px;
		&__i{
			display: none;
		}
		.container{
			display: block;
			padding: 120px 30px 0;
			background: transparent;
		}
		&__w{
			max-width: none;
			width: 100%;
			text-align: center;
		}
		&__under{
			font-size: 13px;
		}
		&__title, &.offer__subtext, &__btn{
			margin-right: auto;
			margin-left: auto;
		}
		&__title{
			max-width: 600px;
			text-align: center;
		}
		&__subtext{
			margin-bottom: 40px;
		}
		&__mobile{
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 600px;
			height: 600px;
			margin: 0 auto;
			padding: 40px;
			margin-bottom: 40px;
			&_bg{
				width: 528px;
				position: absolute;
				top: 0;
				left: 36px;
				z-index: 10;
			}
			&_person{
				z-index: 11;
				width: 446px;
				bottom: 32px;
				right: 15px;
				position: relative;
				animation: none;
			}
		}
		&__place{
			display: none;
			&_m{
				display: block;
			}
		}
	}
	.start-employee{
		&__title{
			font-size: 55px;
		}
	}
	.employee-card{
		&__title{
			font-size: 30px;
		}
	}
	.ident-tasks{
		&__i{
			display: none;
		}
		&__cont{
			margin: 0;
			width: 100%;
		}
		&__title{
			text-align: center;
			max-width: none;
			width: 600px;
			margin: auto auto 70px;
		}
		&__list{
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			max-height: 500px;
			width: 580px;  
			margin: 0 auto;
		}
		&__item{
			max-width: none;
			width: 250px;
			font-size: 20px;
		}
	}
	.managment{
		&__title{
			max-width: 600px;
			margin: 0 auto 40px;
		}
		&__descr{
			text-align: center;
			margin: 0 auto 45px;
			font-size: 24px;
		}
		&__btn{
			display: block;
			font-size: 18px;
			margin: 45px auto 0;
		}
		&__row{
			flex-direction: column-reverse;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 0;
			&:not(:last-of-type){
				margin-bottom: 120px;
			}
			&:nth-child(2n + 1){
				flex-direction: column;
				.managment__cont{
					padding: 0;
				}
			}
		}
		&__cont{
			padding: 0;
		}
		&__w{
			margin-bottom: 30px;
		}
	}
	.sites{
		&__plus{
			font-size: 20px;
		}
		&__text{
			font-size: 14px;
		}
	}
	.download{
		.container{
			width: 720px;
			margin: 0 auto;
			padding: 0;
			justify-content: center;
		}
		&__title{
			font-size: 55px;
			text-align: left;
		}
		&__btn{
			width: 290px;
		}
		&__text{
			margin-bottom: 40px;
			line-height: 1.4;
			font-size: 20px;
			max-width: 330px;
		}
		&__weight{
			width: 290px;
		}
		&__w{
			margin: 80px 0 auto;
		}
		&__i{
			img{
				height: 500px;
				margin-top: 220px;
				margin-left: -120px;
			}
		}
	}
	.cases{
		&__title{
			text-align: center;
			font-size: 46px;
			margin-bottom: 40px;
		}
		&__text{
			margin-bottom: 30px;
		}
		&__line{
			text-align: center;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
	.ident-tasks{
		.container{
			width: 100vw;
		}
		&__num{
			font-size: 20px;
		}
	}
	.rate{
		&__place{
			display: none;
			&_m{
				display: block;
			}
		}
		&__btn{
			display: none;
			width: 100%;
			text-align: left;
			&_m{
				width: 100%;
				text-align: left;
				display: block;
			}
		}
	}
	.sites{
		height: auto;
		.sites__title, .sites__list{
			display: none;
		}
		.sites__title_mobile, .sites__list_mobile{
			display: block;
		}
		.container{
			height: auto;
			display: flex;
			flex-direction: column;
		}
		&__carousel{
			display: flex;
		}
		&__slider-w{
			display: flex;
			width: fit-content;
		}
		&__carousel{
			margin-right: 20px;
		}
		&__row{
			flex-direction: column;
			margin-bottom: 0;
			margin-right: 20px;
			width: fit-content;
		}
		&__item{
			margin-bottom: 15px;
		}
		&__title{
			text-align: center;
			width: 500px;
			margin-bottom: 60px;
		}
		&__content{
			padding: 0;
		}
		&-mobile{
			display: block;
			padding: 60px 0 20px;
			width: 500px;
			margin-right: auto;
			margin-left: auto;
			.sites__list_mobile{
				max-width: 425px;
				margin: auto;
			}
		}
		&__btn{
			display: block;
			padding: 22px 65px;
			margin: 20px auto 80px;
			font-size: 18px;
		}
	}
	.collect{
		&__title{
			font-size: 38px;
		}
		&__text{
			font-size: 22px;
		}
	}
	.call-tracking{
		&__title{
			font-size: 36px;
			line-height: 1;
		}
		&__text{
			font-size: 18px;
		}
		&__i{
			padding-right: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			img{
				display: block;
				margin: auto;
				height: 120px;
			}
		}
	}
	.work-with{
		margin-bottom: 60px;
		&__i{
			img {
				filter: none;
			}
		}
	}
	.cases{
		&__text{
			font-size: 20px;
		}
	}
	.personal{
		&__w{
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		&-card{
			&:not(:last-of-type){
				margin-bottom: 45px;
			}
		}
		&__text{
			font-size: 20px;
			max-width: 400px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.garanties{
		&__w{
			flex-direction: column;
			padding: 40px;
			text-align: left;
			align-items: flex-start;
			justify-content: flex-start;
		}
		&__i{
			margin-bottom: 20px;
			img{
				height: 120px;
			}
		}
		&__title{
			font-size: 44px;
		}
		&__cont{
			margin-left: 0;
		}
	}
}
@media(max-width: 768.98px){
	.offer__title, .start-employee__title, .mail__title, .sites__title, .download__title,
	.personal__title, .work-with__title, .cases__title, .rate__title {
		font-size: 44px;
	}
	.offer{
		&__mobile{
			width: 490px;
			height: 490px;
			&_bg, &_person{
				width: 100%;
				height: 100%;
			}
			&_bg{
				left: 0;
			}
		}
		&__btn{
			font-size: 18px;
		}
		&__title{
			margin-bottom: 30px;
		}
		&__subtext{
			font-size: 16px;
		}
		&__under{
			font-size: 12px;
		}
	}
	.ident-tasks{
		&__title{
			width: 100%;
			font-size: 42px;
		}
		&__list{
			width: 100%;
			max-height: 300px;
		}
		&__item{
			width: 240px;
			font-size: 16px;
		}
	}
	.managment{
		&__title{
			font-size: 44px;
			line-height: 1.1;
		}
		&__w{
			width: 100%;
			img{
				width: 100%;
			}
		}
	}
	.rate{
		&-m{
			&__price{
				font-size: 46px;
			}
		}
	}
	.collect{
		&__w{
			flex-direction: column;
		}
		&_i{
			margin-bottom: 20px;
			img{
				height: 100px;
			}
		}
		&__text{
			font-size: 20px;
		}
		&__title{
			font-size: 34px;
		}
		&__btn{
			font-size: 18px;
		}
		&__cont{
			padding: 0;
			text-align: center;
		}
	}
	.download{
		.container{
			flex-direction: column;
			align-items: center;
			width: 100%;
			text-align: center;
			padding: 0 30px;
		}
		&__title{
			text-align: center;
		}
		&__text{
			margin-left: auto;
			margin-right: auto;
		}
		&__weight{
			margin-right: 0;
		}
		&__i{
			width: 100%;
			img{
				width: 100%;
				height: 100%;
				margin: 0;
			}
		}
	}
	.personal{
		&__text{
			font-size: 16px;
		}
		&-card{
			min-height: 400px;
		}
	}
	.call-tracking{
		&__w{
			padding: 30px 20px 40px;
			flex-direction: column;
			text-align: center;
			justify-content: center;
		}
		&__title{
			font-size: 32px;
		}
		&__text{
			font-size: 16px;
		}
	}
	.work-with{
		&__text{
			font-size: 16px;
		}
	}
	.cases{
		&__cont{
			width: 100%;
		}
		&__text{
			font-size: 18px;
		}
		&__list{
			width: 100%;
			flex-direction: column;
		}
		&-card{
			margin: 20px auto 0;
		}
		&__btn{
			font-size: 20px;
		}
	}
	.garanties{
		&__i{
			display: none;
			margin-bottom: 0;
		}
		&__titw{
			display: flex;
			align-items: flex-end;
			.garanties__i{
				margin-right: 30px;
				display: block;
			}
		}
		&__title{
			font-size: 38px;
			line-height: 1;
			margin-bottom: 0;
		}
		&__text{
			font-size: 16px;
			margin: 30px 0;
		}
		&__item{
			font-size: 14px;
		}
	}
	.call-tracking{
		&__cont{
			max-width: none;
		}
	}
	.work-with{
		&__text{
			max-width: none;
		}
	}
}
@media(max-width: 576.98px){
	.offer__title, .start-employee__title, .mail__title, .sites__title, .download__title,
	.personal__title, .work-with__title, .cases__title, .rate__title {
		font-size: 37px;
	}
	.offer{
		&__mobile{
			width: 400px;
			height: 400px;
		}
		&__btn{
			font-size: 22px;
		}
		&__under{
			font-size: 15px;
		}
	}
	.managment{
		padding: 60px 0;
		&__title{
			font-size: 35px;
		}
	}
	.start-employee{
		&__under{
			font-size: 16px;
		}
	}
	.ident-tasks{
		&__title{
			font-size: 30px;
			text-align: left;
			margin-bottom: 30px;
		}
		&__list{
			max-height: none;
			flex-direction: column;
			width: 100%;
			justify-content: flex-start;
			align-items: flex-start;
		}
		&__item{
			width: 100%;
		}
		&__num{
			font-size: 18px;
		}
	}
	.sites{
		&__title{
			font-size: 29px;
			width: 100%;
		}
		&__text{
			font-size: 12px;
		}
		.sites__content .sites__el .sites__w {
			max-width: 320px;
		}
		&-mobile{
			width: 100%;
		}
		&__plus{
			font-size: 16px;
		}
		&__item{
			width: 120px;
			height: 120px;
			img{
				max-width: 110px;
			}
			p{
				bottom: 10px;
			}
		}
		&__btn{
			font-size: 18px;
			margin-bottom: 40px;
		}
	}
	.rate{
		&-m{
			width: 100%;
			&__name{
				font-size: 18px;
			}
			&__text{
				font-size: 12px;
			}
			&__topic{
				font-size: 18px;
			}
		}
	}
	.collect{
		&__text{
			font-size: 16px;
		}
		&__title{
			font-size: 35px;
		}
	}
	.download{
		&__text{
			font-size: 16px;
		}
		&__btn{
			font-size: 18px;
			padding: 20px;
		}
		&__weight{
			font-size: 12px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.personal{
		&__text{
			font-size: 14px;
		}
		&-card{
			&__title{
				font-size: 20px;
			}
			&__text{
				font-size: 14px;
			}
			&__btn{
				font-weight: 600;
			}
		}
	}
	.call-tracking{
		&__only{
			font-size: 22px;
		}
		&__title{
			font-size: 25px;
		}
		&__text{
			font-size: 16px;
		}
	}
	.work-with{
		&__title{
			font-size: 33px;
		}
		&__text{
			max-width: 250px;
			font-size: 14px;
		}
		&__i{
			width: 150px;
			height: 72px;
			margin-bottom: 10px;
		}
	}
	.cases{
		&__title{
			text-align: left;
		}
		&__text{
			text-align: left;
			max-width: 240px;
			font-size: 16px;
		}
		&__line{
			justify-content: start;
			align-items: start;
		}
		&-card{
			padding: 40px;
			&__title{
				font-size: 25px;
			}
			&__text{
				font-size: 16px;
			}
		}
	}
	.garanties{
		&__titw{
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		&__title{
			font-size: 25px;
		}
		&__text{
			font-size: 16px;
		}
		&__item{
			font-size: 13px;
		}
	}
}
@media(max-width: 454.98px){
	.offer__title, .start-employee__title, .mail__title, .sites__title, .download__title,
	.personal__title, .work-with__title, .cases__title, .rate__title {
		font-size: 35px;
	}
	.offer{
		padding: 120px 0 60px;
		.container{
			padding: 0 5px;
		}
		&__mobile{
			width: 310px;
			height: 310px;
		}
		&__btn{
			font-size: 18px;
		}
	}
	.start-employee{
		.container{
			padding: 0 5px;
		}
		&__title{
			text-align: center;
		}
	}
	.managment{
		&__btn{
			font-size: 16px;
			padding: 20px;
		}
	}
	.sites{
		.container{
			padding: 0 5px;
		}
		&__text{
			width: 270px;
		}
		.sites__content .sites__el::before {
			width: 20px;
			height: 20px;
			margin-right: 10px;
			background-size: contain;
		}
		&__btn{
			padding: 20px;
			font-size: 16px;
		}
	}
	.rate{
		&__w{
			width: 100%;
		}
		.container{
			padding: 0 10px;
		}
		&-m{
			margin-top: 0;
			.rate__buy{
				padding: 15px 20px;
			}
			&__card{
				&:first-of-type{
					margin-top: 25px;
				}
			}
		}
		&__title{
			font-size: 16px;
		}
	}
	.collect{
		.container{
			padding: 0 5px;
		}
		&__w{
			padding: 40px 20px 45px;
		}
		&__btn{
			padding: 20px 35px;
		}
		&__title{
			font-size: 27px;
		}
	}
	.personal{
		.container{
			padding: 0 5px;
		}
	}
	.start-employee__title{
		padding: 0 10px;
	}
	.call-tracking{
		padding: 0;
		.container{
			padding: 0 5px;
		}
	}
	.work-with{
		.container{
			padding: 0 5px;
		}
	}
	.download{
		.container{
			padding: 0;
		}
		&__w{
			padding: 0 15px;
			width: 100%;
		}
	}
	.cases{
		.container{
			padding: 0 5px;
		}
		&__cont{
			padding: 20px;
		}
		&-card{
			width: 310px;
		}
	}
	.garanties{
		.container{
			padding: 0 5px;
		}
		&__w{
			padding: 20px 20px 40px 20px;
		}
		&__text{
			text-align: center;
		}
	}
}

