@media (max-width: 1300.98px) {
	.header .container{
		width: auto;
		padding: 0 15px;
	}
}
@media (max-width: 1200.98px) {
	.cta__phone{
		font-size: 40px;
	}
	.cta__wrap{
		padding: 40px 40px;
	}
	.privacy-policy{
		font-size: 18px;
		.container{
			padding: 0 80px;
		}
		&__title{
			font-size: 32px;
		}
		&__point{
			font-size: 18px;
		}
	}
}
@media (max-width: 1200.98px) {
	.header__item:not(:last-of-type) {
		margin-right: 15px;
	}
	.header__tel {
		padding: 2px 15px;
	}
	.header__nav{
		width: 834px;
	}
	a.header__reg {
		margin-left: 20px;
	}
	.container{
		width: 960px;
	}
	.thanks{
		&__title{
			font-size: 70px;
		}
		&__text{
			font-size: 22px;
		}
	}
}
@media (max-width: 1100.98px){
	.header__logo img{
		width: 120px;
	}
	.header__item:not(:last-of-type) {
		margin-right: 13px;
	}
	.header__tel{
		padding: 2px 10px;
	}
	.header__nav{
		width: 808px;
	}
}
@media (max-width: 992.98px){
	.cta__title{
		text-align: center;
		margin-bottom: 30px;
	}
	.cta__btn-w{
		flex-direction: column;
		width: 250px;
		margin: 0 auto;
	}
	.cta__btn{
		width: 100%;
		justify-content: space-around;
	}
	.cta__whtsp{
		margin-bottom: 15px; 
	}
	.cta__call{
		display: flex;
		align-items: center;
		margin-bottom: 40px;
		font-size: 44px;
	}
	.cta__wrap{
		width: 600px;
		margin: 0 auto;
	}
	.cta__w{
		align-items: center;
		flex-direction: column-reverse;
	}
	.cta__phone{
		margin-bottom: 20px;
		font-size: 44px;
	}
	.cta__phone::before {
		width: 40px;
		height: 41px;
	}
	.cta__phone::after {
		left: 120px;
		bottom: -30px;
	}
	.cta{
		padding-bottom: 30px;
	}
	.cta__title{
		font-size: 42px;
	}
	.container{
		width: 100%;
		padding: 0 30px;
	}
	.header__nav{
		display: none;
	}
	.header__tel{
		display: none;
	}
	.header__mobile{
		display: block;
	}
	.privacy-policy{
		font-size: 18px;
		padding: 185px 0 0;
		.container{
			width: 640px;
			padding: 0;
		}
		&__title{
			font-size: 32px;
		}
		&__point{
			font-size: 18px;
		}
	}
}
@media (max-width: 820px){
	.footer__item{
		margin-bottom: 10px;
		font-size: 12px;
	}
	.footer__logo{
		font-size: 12px;
	}
	.footer__cont-link {
		font-size: 16px;
	}
}
@media (max-width: 768px){
	.cta__wrap{
		width: 100%;
	}
	.thanks{
		&__title{
			font-size: 36px;
		}
		&__text{
			font-size: 20px;
		}
	}
	.privacy-policy{
		font-size: 16px;
		line-height: 1.45;
		.container{
			width: auto;
			padding: 0 20px;
		}
		&__title{
			font-size: 28px;
		}
		&__point{
			font-size: 16px;
		}
	}
}
@media (max-width: 600px){
	.footer .container{
		align-items: center;
	}
	.col-3.sm{
		display: none;
	}
	.col-3{
		width: auto;
	}
	.footer__item{
		margin-bottom: 10px;
		font-size: 16px;
	}
	.footer__logo{
		font-size: 16px;
	}
	.footer__cont-link {
		font-size: 20px;
	}
}
@media (max-width: 576px){
	.cta .container{
		padding: 0;
	}
	.cta__wrap{
		border-radius: 0;
	}
	.footer__cont-link {
		font-size: 18px;
	}
}

@media (max-width: 500px){
	.footer .col-3{
		display: none;
	}
	.footer-mobile{
		display: block;
	}
	.cta__phone {
		font-size: 32px;
	}
	.cta__phone::after {
		left: 64px;
		bottom: -30px;
	}
}
@media (max-width: 454px) {
	.cta__title {
    font-size: 20px;
	}
	.cta__wrap {
    padding: 40px 35px;
	}
	.cta__phone {
		font-size: 22px;
	}
	.cta__phone::before {
    width: 28px;
    height: 29px;
	}
	.cta__totitle{
		font-size: 18px;
	}
	.cta__phone::after {
		left: 52px;
		bottom: -30px;
		font-size: 18px;
	}
	.footer__cont-link {
		font-size: 16px;
	}
	.footer__cards img{
		margin-right: 0;
	}
	.thanks{
		padding: 140px 0 20px;
		&__title{
			font-size: 30px;
		}
		&__text{
			font-size: 20px;
		}
	}
	.privacy-policy{
		&__title{
			font-size: 24px;
		}
	}
}