.report{
	margin-top: 60px;
	margin-bottom: 120px;
	.report__bnt-right, .report__bnt-left{
		// display: none;
		background: url('../img/arrow-more.svg') no-repeat center center / 12px,#fff;
		width: 60px;
		height: 60px;
		border-radius: 30px;
		display: flex;
		position: absolute;
		z-index: 10;
		justify-content: center;
		align-items: center;
		box-shadow: 0 0 5px rgba(0,0,0,.09);
		opacity: 1;
		transition: opacity 0.3s ease-out;
		transition: background 0.3s ease-out;
		&:hover{
			background: url('../img/arrow-more-white.svg') no-repeat center center / 12px,#0E65F3;
		}
		&.swiper-button-disabled{
			opacity: 0;
		}
	}
	.report__bnt-right{
		right: -70px;
		top: 40%;
	}
	.report__bnt-left{
		left: -70px;
		top: 40%;
		transform: rotate(180deg);
	}
	&-w{
		position: relative;
	}
	&__title{
		font-size: 72px;
		text-align: center;
		margin-bottom: 60px;
	}
	&__w{
		overflow: hidden;
		position: relative;
	}
	&__slider{
		width: fit-content;
		display: flex;
	}
	&__card{
		margin-right: 40px;		
		box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.05);
		text-align: center;
		width: 260px;
		border-radius: 10px;
		overflow: hidden;
		background: #fff;
	}
	&__cont{
		padding: 20px 30px;
	}
	&__i{
		img{
			width: 100%;
		}
	}
	&__name{
		font-size: 20px;
		font-weight: 600;
		text-transform: uppercase;
	}
	&__who{
		font-size: 14px;
		color: #101011;
		margin: 5px 0 30px;
	}
	&__btn{
		margin-top: auto;
		width: 100%;
		padding: 15px;
		font-size: 14px;
		text-transform: uppercase;
		border-radius: 5px;
		border: none;
		font-weight: 700;
		color: var(--accent);
		background: var(--btn-bg);
		transition: color 0.25s ease-out, background 0.25s ease-out;
		&:hover{
			background: var(--accent);
			color: #fff;
		}
	}
}

@media (max-width:1200.98px ) {
	.report{
		&__card{
			width: 200px;
		}
		&__cont{
			padding: 23px 18px;
		}
	}
}

@media (max-width:1100.98px ) {
	.report__title{
		font-size: 55px;
		text-align: center;
	}
	.report{
		&__slider, &__w, &-w{
			width: 720px;
		}
		&-w{
			margin: 0 auto;
		}
	}
}
@media (max-width:992.98px ) {
	.report{
		&__slider, &__w, &-w{
			width: 700px;
		}
		&-w{
			margin: 0 auto;
		}
		.report__bnt-right{
			right: -30px;
		}
		.report__bnt-left{
			left: -30px;
		}
	}
}
@media (max-width:798.98px ) {
	.report{
		&__slider, &__w, &-w{
			width: 510px;
		}
		&__title{
			font-size: 44px;
		}
		.report__bnt-right, .report__bnt-left{
			width: 40px;
			height: 40px;
		}
	}
}
@media (max-width:576.98px ) {
	.report{
		&__slider, &__w, &-w{
			width: 280px;
		}
		&__title{
			font-size: 33px;
		}
	}
}
@media (max-width: 454.98px){
	.report{
		&__slider, &__w, &-w{
			width: 240px;
		}
	}
}