:root{
	--minH: 63px;
	--minW: 112px;
	--n: 8;
}


.report{
	margin-top: 60px;
	margin-bottom: 120px;
	position: relative;
	.report__bnt-right, .report__bnt-left{
		// display: none;
		background: url('../img/arrow-more.svg') no-repeat center center / 12px,#fff;
		width: 60px;
		height: 60px;
		border-radius: 30px;
		display: flex;
		position: absolute;
		z-index: 10;
		justify-content: center;
		align-items: center;
		box-shadow: 0 0 5px rgba(0,0,0,.09);
		opacity: 1;
		&:hover{
			background: url('../img/arrow-more-white.svg') no-repeat center center / 12px,#0E65F3;
		}
		&.swiper-button-disabled{
			cursor: default;
			opacity: 0;
		}
	}
	.report__bnt-right{
		transition: opacity 0.2s ease-out, background 0.2s ease-out;
		right: -70px;
		top: 40%;
	}
	.report__bnt-left{
		transition: opacity 0.2s ease-out, background 0.2s ease-out;
		left: -70px;
		top: 40%;
		transform: rotate(180deg);
	}
	&-w{
		position: relative;
	}
	&__title{
		font-size: 72px;
		text-align: center;
		margin-bottom: 60px;
	}
	&__w{
		overflow: hidden;
		position: relative;
	}
	&__slider{
		width: fit-content;
		display: flex;
	}
	&__card{
		height: 100%;
		margin-right: 40px;		
		box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.05);
		text-align: center;
		width: 260px;
		height: 460px;
		border-radius: 10px;
		overflow: hidden;
		background: #fff;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__cont{
		padding: 20px 30px;
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	&__i{
		cursor: pointer;
		img{
			width: 100%;
		}
	}
	&__name{
		font-size: 20px;
		font-weight: 600;
		text-transform: uppercase;
	}
	&__who{
		font-size: 14px;
		color: #101011;
		margin: 5px 0 30px;
	}
	&__btn{
		margin-top: auto;
		width: 100%;
		padding: 15px;
		font-size: 14px;
		text-transform: uppercase;
		border-radius: 5px;
		border: none;
		margin-top: auto;
		display: block;
		font-weight: 700;
		color: var(--accent);
		background: var(--btn-bg);
		transition: color 0.25s ease-out, background 0.25s ease-out;
		&:hover{
			background: var(--accent);
			color: #fff;
		}
	}
	.overlay{
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
		height: 100vh;
		background: rgba(0,0,0,.7);
		opacity: 0;
		width: 100vw;
		transition: opacity 0.15s ease-out;
		&.active{
			opacity: 1;
			z-index: 100000;
		}
	}
	&__place{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}
	.overlay.active &__exit{
		cursor: pointer;
	}
	&__iframe{
		width: 0;
		height: 0;
		opacity: 0;
		transition: opacity 0.1s ease-out;
		&.active{
			opacity: 1;
			width: calc(var(--n)*var(--minW));
			height: calc(var(--n)*var(--minH));
		}
	}
	&__exit{
		font-size: 36px;
		position: fixed;
		width: 32px;
		height: 32px;
		line-height: 1;
		background: url('../img/close-white.svg') no-repeat center center / cover;
		top: 30px;
		right: 30px;
	}
}


@media (max-width:1200.98px ) {
	.report{
		&__card{
			width: 200px;
		}
		&__cont{
			padding: 23px 18px;
		}
	}
}

@media (max-width:1100.98px ) {
	.report__title{
		font-size: 55px;
		text-align: center;
	}
	.report{
		&__slider, &__w, &-w{
			width: 720px;
		}
		&-w{
			margin: 0 auto;
		}
	}
}
@media (max-width:992.98px ) {
	:root{
		--n: 6;
	}
	.report{
		&__slider, &__w, &-w{
			width: 700px;
		}
		&-w{
			margin: 0 auto;
		}
		.report__bnt-right{
			right: -30px;
		}
		.report__bnt-left{
			left: -30px;
		}
	}
}
@media (max-width:798.98px ) {
	:root{
		--n: 5;
	}
	.report{
		&__slider, &__w, &-w{
			width: 510px;
		}
		&__title{
			font-size: 44px;
		}
		.report__bnt-right, .report__bnt-left{
			width: 40px;
			height: 40px;
		}
	}
}
@media (max-width:576.98px ) {
	:root{
		--n: 4;
	}
	.report{
		&__slider, &__w, &-w{
			width: 280px;
		}
		&__title{
			font-size: 33px;
		}
		&__iframe{
			&.active{
				width: calc(var(--n)*var(--minH));
				height: calc(var(--n)*var(--minW));
			}
		}
		&__exit{
			width: 24px;
			height: 24px;
			line-height: 1;
			background: url('../img/close-white.svg') no-repeat center center / cover;
			top: 30px;
			right: 30px;
		}
	}
}
@media (max-width: 454.98px){
	.report{
		&__slider, &__w, &-w{
			width: 240px;
		}
	}
}
@media (max-width: 400.98px){
	:root{
		--n: 3;
	}
}
