.start-employee__title{	
	span{
		color: var(--accent);
	}
}
.start-employee{
	padding: 120px 0 180px;
}
.start-employee__w{
	width: fit-content;
	margin: 0 auto;
	text-align: center;
}
.start-employee__title{
	font-size: 72px;
	text-align: center;
}
.start-employee__under{
	font-size: 24px;
	color: var(--accent);
	margin-bottom: 60px;
}
.start-employee .container{
	display: flex;
	justify-content: space-between;
}
.employee-card{
	box-shadow: var(--box-sh);
	padding: 40px 30px;
	background: #fff;
	width: 360px;
	min-height: 450px;
	border-radius: 15px;
	&.public{
		display: none;
	}
}
.employee-card__title{
	margin: 25px 0 15px;
	font-size: 32px;
}
.employee-card__text{
	font-size: 18px;
	opacity: 0.8;
}
.employee-card__btn{
	width: 100%;
	padding: 20px;
	border: none;
	display: block;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 25px;
	color: var(--accent);
	background: var(--btn-bg);
	transition: transform 0.25s ease-out;
}
a.employee-card__btn{
	color: #0E65F3;
}
.employee-card__btn:hover{
	transform: scale(.94);
	animation: 0.4s employeeCardBtnBouncy;
}

@media (max-width: 1200.98px){
	.employee-card{
		width: 300px;
		padding: 30px 20px;
	}
}
@media (max-width: 1100.98px){
	.start-employee__title{
		font-size: 55px;
		text-align: center;
	}
}

@media (max-width: 992.98px){
	.start-employee{
		&__w{
			max-width: 600px;
		}
		&__under{
			margin: 20px 0 60px;
		}
		.container{
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		&__card{
			&:not(:last-of-type){
				margin-bottom: 40px;
			}
		}
	}
	.employee-card{
		min-height: auto;
	}
}
@media (max-width: 768.98px){
	.start-employee{
		&__title{
			font-size: 44px;
		}
		&__under{
			font-size: 20px;
		}
	}
	.employee-card{
		&__title{
			font-size: 22px;
			line-height: 1;
		}
		&__text{
			font-size: 16px;
		}
	}
}
@media (max-width: 454.98px){
	.start-employee{
		&__title{
			font-size: 33px;
		}
		&__under{
			font-size: 18px;
		}
	}
}